includes:
    - vendor/nunomaduro/larastan/extension.neon

parameters:
    level: 8

    paths:
        - src
        - tests

    ignoreErrors:
        # Laravel's GeneratorCommand uses mixed types for rootNamespace which we
        # must match in our overrides.
        - identifier: missingType.generics

    excludePaths:
        - vendor

    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
